<a href="https://colab.research.google.com/github/RodrigoMR13/Faculdade-XP-Bootcamp1/blob/main/Trab_prat_mod3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Importar Bibliotecas

In [111]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import pearsonr
from scipy import stats

# 2. Ler os dados

In [31]:
df = pd.read_csv('ia_dataset_igti.xls - breast-cancer.csv', sep=',', encoding='UTF-8')
df.head()

,radius,texture,perimeter,area,smoothness,compactness,concavity,concave,symmetry,fractal_dimension
0,"17,99","10,38","122,8",1001,"0,1184","0,2776","0,3001","0,1471","0,2419","0,07871"
1,"20,57","17,77","132,9",1326,"0,08474","0,07864","0,0869","0,07017","0,1812","0,05667"
2,"19,69","21,25",130,1203,"0,1096","0,1599","0,1974","0,1279","0,2069","0,05999"
3,"11,42","20,38","77,58","386,1","0,1425","0,2839","0,2414","0,1052","0,2597","0,09744"
4,"20,29","14,34","135,1",1297,"0,1003","0,1328","0,198","0,1043","0,1809","0,05883"

# 3. Entender os dados

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   radius             50 non-null     object
 1   texture            50 non-null     object
 2   perimeter          50 non-null     object
 3   area               50 non-null     object
 4   smoothness         50 non-null     object
 5   compactness        50 non-null     object
 6   concavity          50 non-null     object
 7   concave            50 non-null     object
 8   symmetry           50 non-null     object
 9   fractal_dimension  50 non-null     object
dtypes: object(10)
memory usage: 4.0+ KB

In [33]:
df.describe()

,radius,texture,perimeter,area,smoothness,compactness,concavity,concave,symmetry,fractal_dimension
count,50,50,50,50,50,50,50,50,50,50
unique,48,50,49,50,49,50,49,50,46,50
top,"13,17","10,38",130,1001,"0,1186","0,2776","0,1974","0,1471","0,2069","0,07871"
freq,2,1,2,1,2,1,2,1,2,1

In [34]:
df.isna().sum()
# Nenhum valor nulo

radius               0
texture              0
perimeter            0
area                 0
smoothness           0
compactness          0
concavity            0
concave              0
symmetry             0
fractal_dimension    0
dtype: int64

# 4. Tratamento dos Dados

## 4.1. Substituir a vírgula por ponto

In [35]:
df['radius'] = df['radius'].str.replace(',','.')
df['texture'] = df['texture'].str.replace(',','.')
df['perimeter'] = df['perimeter'].str.replace(',','.')
df['area'] = df['area'].str.replace(',','.')
df['smoothness'] = df['smoothness'].str.replace(',','.')
df['compactness'] = df['compactness'].str.replace(',','.')
df['concavity'] = df['concavity'].str.replace(',','.')
df['concave'] = df['concave'].str.replace(',','.')
df['symmetry'] = df['symmetry'].str.replace(',','.')
df['fractal_dimension'] = df['fractal_dimension'].str.replace(',','.')

## 4.2. Converter os dados para float

In [36]:
df = df.astype('float')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   radius             50 non-null     float64
 1   texture            50 non-null     float64
 2   perimeter          50 non-null     float64
 3   area               50 non-null     float64
 4   smoothness         50 non-null     float64
 5   compactness        50 non-null     float64
 6   concavity          50 non-null     float64
 7   concave            50 non-null     float64
 8   symmetry           50 non-null     float64
 9   fractal_dimension  50 non-null     float64
dtypes: float64(10)
memory usage: 4.0 KB

## 4.3. Gerar estatísticas

In [38]:
# Média
df.mean()

radius                15.377200
texture               20.178400
perimeter            101.400000
area                 761.998000
smoothness             0.104082
compactness            0.142035
concavity              0.133984
concave                0.073518
symmetry               0.198400
fractal_dimension      0.065274
dtype: float64

In [39]:
# Moda
df.mode()

,radius,texture,perimeter,area,smoothness,compactness,concavity,concave,symmetry,fractal_dimension
0,13.17,10.38,130.0,201.9,0.1186,0.03766,0.1974,0.005917,0.1769,0.05278
1,16.13,12.44,NaN,273.9,NaN,0.05131,NaN,0.020310,0.1809,0.05338
2,NaN,14.26,NaN,371.1,NaN,0.05943,NaN,0.020760,0.1885,0.05395
3,NaN,14.34,NaN,386.1,NaN,0.06031,NaN,0.027490,0.2069,0.05504
4,NaN,14.36,NaN,440.6,NaN,0.06492,NaN,0.028990,NaN,0.05587
5,NaN,14.63,NaN,449.3,NaN,0.06669,NaN,0.029230,NaN,0.05656
6,NaN,15.05,NaN,475.9,NaN,0.07200,NaN,0.031100,NaN,0.05667
7,NaN,15.70,NaN,477.1,NaN,0.07698,NaN,0.033230,NaN,0.05697
8,NaN,15.71,NaN,519.8,NaN,0.07864,NaN,0.033840,NaN,0.05699
9,NaN,16.40,NaN,520.0,NaN,0.08129,NaN,0.047810,NaN,0.05718
10,NaN,16.84,NaN,523.8,NaN,0.09092,NaN,0.051820,NaN,0.05742
11,NaN,17.60,NaN,531.5,NaN,0.10020,NaN,0.052520,NaN,0.05766
12,NaN,17.77,NaN,534.6,NaN,0.10220,NaN,0.052590,NaN,0.05863
13,NaN,17.88,NaN,545.2,NaN,0.10270,NaN,0.053640,NaN,0.05883
14,NaN,17.89,NaN,559.2,NaN,0.10470,NaN,0.054390,NaN,0.05922
15,NaN,18.42,NaN,561.0,NaN,0.10660,NaN,0.055980,NaN,0.05999
16,NaN,18.66,NaN,563.0,NaN,0.10900,NaN,0.056690,NaN,0.06043
17,NaN,18.70,NaN,566.3,NaN,0.10980,NaN,0.059850,NaN,0.06049
18,NaN,19.98,NaN,577.9,NaN,0.11570,NaN,0.060180,NaN,0.06082
19,NaN,20.13,NaN,578.3,NaN,0.12180,NaN,0.061580,NaN,0.06125
20,NaN,20.25,NaN,633.0,NaN,0.12310,NaN,0.066060,NaN,0.06149
21,NaN,20.28,NaN,644.8,NaN,0.12550,NaN,0.070170,NaN,0.06177
22,NaN,20.38,NaN,658.8,NaN,0.12700,NaN,0.073400,NaN,0.06197
23,NaN,20.68,NaN,684.5,NaN,0.12920,NaN,0.073640,NaN,0.06261
24,NaN,20.82,NaN,698.8,NaN,0.13280,NaN,0.074000,NaN,0.06330
25,NaN,20.83,NaN,704.4,NaN,0.13360,NaN,0.075930,NaN,0.06343
26,NaN,21.25,NaN,732.4,NaN,0.14360,NaN,0.077310,NaN,0.06382
27,NaN,21.35,NaN,781.0,NaN,0.14570,NaN,0.077520,NaN,0.06419
28,NaN,21.38,NaN,782.7,NaN,0.14960,NaN,0.079530,NaN,0.06503
29,NaN,21.53,NaN,797.8,NaN,0.15160,NaN,0.080250,NaN,0.06515
30,NaN,21.58,NaN,798.8,NaN,0.15590,NaN,0.080890,NaN,0.06540
31,NaN,21.59,NaN,807.2,NaN,0.15950,NaN,0.085430,NaN,0.06777
32,NaN,21.72,NaN,869.5,NaN,0.15990,NaN,0.086320,NaN,0.06782
33,NaN,21.81,NaN,899.3,NaN,0.16450,NaN,0.087510,NaN,0.06811
34,NaN,21.82,NaN,904.6,NaN,0.16860,NaN,0.087830,NaN,0.06870
35,NaN,22.15,NaN,912.7,NaN,0.16970,NaN,0.091700,NaN,0.06905
36,NaN,22.30,NaN,955.1,NaN,0.17000,NaN,0.093530,NaN,0.06924
37,NaN,22.61,NaN,1001.0,NaN,0.17190,NaN,0.094980,NaN,0.07032
38,NaN,23.04,NaN,1040.0,NaN,0.18680,NaN,0.097560,NaN,0.07077
39,NaN,23.24,NaN,1076.0,NaN,0.18870,NaN,0.099610,NaN,0.07356
40,NaN,23.95,NaN,1088.0,NaN,0.19320,NaN,0.100900,NaN,0.07389
41,NaN,23.98,NaN,1094.0,NaN,0.20220,NaN,0.102800,NaN,0.07413
42,NaN,24.04,NaN,1104.0,NaN,0.21350,NaN,0.104300,NaN,0.07451
43,NaN,24.80,NaN,1123.0,NaN,0.21900,NaN,0.105200,NaN,0.07613
44,NaN,24.81,NaN,1162.0,NaN,0.22760,NaN,0.111800,NaN,0.07682
45,NaN,25.11,NaN,1203.0,NaN,0.22930,NaN,0.120300,NaN,0.07799
46,NaN,25.20,NaN,1260.0,NaN,0.23960,NaN,0.124400,NaN,0.07800
47,NaN,25.27,NaN,1297.0,NaN,0.24580,NaN,0.127900,NaN,0.07871
48,NaN,26.47,NaN,1326.0,NaN,0.27760,NaN,0.140100,NaN,0.08243
49,NaN,27.54,NaN,1404.0,NaN,0.28390,NaN,0.147100,NaN,0.09744

In [40]:
# Desvio-Padrão
df.std()

radius                 3.011576
texture                3.828225
perimeter             20.436480
area                 294.515104
smoothness             0.013052
compactness            0.059840
concavity              0.068864
concave                0.032298
symmetry               0.030680
fractal_dimension      0.008908
dtype: float64

### 5. Pré-Processamento

In [41]:
# df.radius = (df.radius - df.radius.min()) / (df.radius.max() - df.radius.min())

In [42]:
# len(df.columns)

In [43]:
# def norm_min_max(df):
  # for i in range(len(df.columns)):
    # df[f'{df.columns[i]}'] = (df[f'{df.columns[i]}'] - df[f'{df.columns[i]}'].min()) / (df[f'{df.columns[i]}'].max() - df[f'{df.columns[i]}'].min())

In [44]:
# norm_min_max(df)

In [45]:
# df.head()

In [46]:
scaler = MinMaxScaler()
dados_norm = scaler.fit_transform(df)

In [47]:
df_norm = pd.DataFrame(data=dados_norm, columns=df.columns)

In [83]:
df_norm.head()

,radius,texture,perimeter,area,smoothness,compactness,concavity,concave,symmetry,fractal_dimension
0,0.755477,0.000000,0.831559,0.664753,0.604139,0.974415,1.000000,1.000000,0.605213,0.580609
1,0.954489,0.430653,0.949702,0.935114,0.051248,0.166423,0.249877,0.455104,0.219326,0.087103
2,0.886609,0.633450,0.915780,0.832793,0.459593,0.496426,0.638660,0.864006,0.382708,0.161442
3,0.248689,0.582751,0.302608,0.153232,1.000000,1.000000,0.793470,0.703222,0.718373,1.000000
4,0.932891,0.230769,0.975436,0.910989,0.306833,0.386371,0.640771,0.696847,0.217419,0.135468

In [87]:
target = df_norm.radius
target.head()

0    0.755477
1    0.954489
2    0.886609
3    0.248689
4    0.932891
Name: radius, dtype: float64

In [82]:
df_val = df_norm.drop(columns=['radius'])
df_val.head()

,texture,perimeter,area,smoothness,compactness,concavity,concave,symmetry,fractal_dimension
0,0.000000,0.831559,0.664753,0.604139,0.974415,1.000000,1.000000,0.605213,0.580609
1,0.430653,0.949702,0.935114,0.051248,0.166423,0.249877,0.455104,0.219326,0.087103
2,0.633450,0.915780,0.832793,0.459593,0.496426,0.638660,0.864006,0.382708,0.161442
3,0.582751,0.302608,0.153232,1.000000,1.000000,0.793470,0.703222,0.718373,1.000000
4,0.230769,0.975436,0.910989,0.306833,0.386371,0.640771,0.696847,0.217419,0.135468

In [90]:
p_texture = pearsonr(target, df_val.texture)
p_texture

(0.19184215275965943, 0.1819897531641695)

In [97]:
p_perimeter = pearsonr(target, df_val.perimeter)
p_perimeter

(0.9956923139856306, 3.054641252109574e-51)

In [96]:
p_area = pearsonr(target, df_val.area)
p_area

(0.9924685454191179, 1.961989697814216e-45)

In [ ]:
p_smoothness = pearsonr(target, df_val.smoothness)
p_smoothness

In [95]:
p_compactness = pearsonr(target, df_val.compactness)
p_compactness

(0.16842172508294467, 0.24233343430941315)

In [94]:
p_concavity = pearsonr(target, df_val.concavity)
p_concavity

(0.420910547310051, 0.002336234244800761)

In [93]:
p_concave = pearsonr(target, df_val.concave)
p_concave

(0.6091679675653596, 2.6719902803816115e-06)

In [92]:
p_symmetry = pearsonr(target, df_val.symmetry)
p_symmetry

(0.018529308340160002, 0.8983713816832242)

In [91]:
p_fractal_dimension = pearsonr(target, df_val.fractal_dimension)
p_fractal_dimension

(-0.3920634402461445, 0.004864234706306507)